.form-control {
    max-width: 20rem;
}

.memebtn {
    background: rgb(13, 13, 13);
    background: linear-gradient(90deg, rgba(13, 13, 13, 1) 0%, rgba(103, 34, 128, 1) 39%);
    color: white;
    height: 75px;
}

.memebtn:hover {
    background: black;
}